<!-- Editable table -->
<div class="card">
  <div class="card-body">
    <div class="row">
      <div class="col-md-6 offset-md-3">
        <div class="md-form">
          <input type="text" [(ngModel)]="searchText" class="form-control" id="search" mdbInput>
          <label for="search">Search</label>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-12"><span class="table-add float-right">
        <a class="text-success" (click)="add()">
          <mdb-icon fas icon="plus" size="1x"></mdb-icon>
        </a>
      </span></div>
    </div>
    <div id="table" class="table-editable">

      <table mdbTable class="table table-bordered table-responsive-md table-striped text-center">
        <tr>
          <th class="text-center">Id</th>
          <th class="text-center">Order Number</th>
          <th class="text-center">Payment Number</th>
          <th class="text-center">Tracking</th>
          <th class="text-center">Status</th>
          <th class="text-center">Price</th>
          <th class="text-center">Profit</th>
          <th class="text-center">Date</th>
          <th class="text-center"></th>
          <th class="text-center"></th>
        </tr>
        <tr *ngFor="let order of orders">
          <td>
            <span (keyup)="changeValue(order.id, 'id', $event)" (blur)="updateList(order.id, 'id', $event)" contenteditable="true">{{order.id}}</span>
          </td>
          <td>
            <span contenteditable="true" (keyup)="changeValue(order.id, 'orderNumber', $event)" (blur)="updateList(order.id, 'orderNumber', $event)">{{order.orderNumber}}</span>
          </td>
          <td>
            <span contenteditable="true" (keyup)="changeValue(order.id, 'paymentNumber', $event)" (blur)="updateList(order.id, 'paymentNumber', $event)">{{order.paymentNumber}}</span>
          </td>
          <td>
            <span contenteditable="true" (keyup)="changeValue(order.id, 'tracking', $event)" (blur)="updateList(order.id, 'tracking', $event)">{{order.tracking}}</span>
          </td>
          <td>
            <span contenteditable="true" (keyup)="changeValue(order.id, 'status', $event)" (blur)="updateList(order.id, 'status', $event)">{{order.status}}</span>
          </td>
          <td>
            <span contenteditable="true" (keyup)="changeValue(order.id, 'pricePaid', $event)" (blur)="updateList(order.id, 'pricePaid', $event)">{{order.pricePaid}}</span>
          </td>
          <td>
            <span contenteditable="true" (keyup)="changeValue(order.id, 'profit', $event)" (blur)="updateList(order.id, 'profit', $event)">{{order.profit}}</span>
          </td>
          <td>
            <span contenteditable="true" (keyup)="changeValue(order.id, 'date', $event)" (blur)="updateList(order.id, 'date', $event)">{{order.date}}</span>
          </td>
          <td>
            <a routerLink="/orders/{{order.id}}" >
              <i class="fas fa-eye"></i>
            </a>
          </td>
          <td>
            <span class="table-remove">
              <button type="button" mdbBtn color="danger" rounded="true" size="sm" class="my-0" (click)="remove(order.id)">Remove</button>
            </span>
          </td>
        </tr>
      </table>
    </div>
  </div>
</div>
<!-- Editable table -->
